<p>login</p>
<div class="parent">
  <div class="body" >
     <h2 style=" color: rgb(165, 42, 138);font-size:40px;">signin</h2>
     <input style="outline:0;border: 0; border-radius:13px; width:50%;height:7%;"  type="text"placeholder="Emailaddress">
     <br><br>
     <input style="border:0;outline:0; border-radius:13px;width: 50%;height:7%;" type="password"placeholder="password">
     <br><br>
     <input style="width:2%;height:2%; " type="checkbok"><label style="margin-right: 10%;">Rememberpassword</label>
     <br><br>
       <div class="button">
        <button style=" border-radius:13px;width:50%;height:30px;background-color:rgb(15, 102, 179);font-size: medium;"routerLink="//dashboard">signin</button>
        <hr>
        <button style="border-radius:13px;width:50%;height:30px;background-color:rgb(231, 12, 12);font-size: medium;">sign in with google</button>
        <br><br>
        <button style="border-radius:13px;width:50%;height:30px;background-color:rgb(13, 169, 197);font-size: medium;">signin with facebook</button>
        
       </div>
  </div>
</div>

  