.parent{
    width:100vw;
    height:100vh;
    background-color:aqua;
    display: flex;
    justify-content: space-around;
}
.left{
    width:20%;
    height:90%;
    background-color: #faebd7;
    justify-content: center;
    display: flex;
    align-items: center;
}
.div{
    text-align: center;
}
.right{
    width:80%;
    height:90%;
    background-color:blue ;
}
.aa{
    width:100%;
    height:10%;
    background-color: rebeccapurple;
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: sticky;
}
.bb{
    width:100%;
    height:90%;
    background-color: bisque;
}