<p>dashboard!</p>
<div class="parent">
   <div class="left">
       <div class="div">
      <img src="/assets/Ester-Anil.jpg" class="rounded-circle" alt="" width="35%" height="20%">
      <h4>kenkalil</h4>
      <h4>as123@gmail.com</h4>
      <hr>
       <h3>Home</h3>
       <h3 routerLink="interpolation">Interpolation</h3>
       <h3 routerLink="eventbinding">EventBinding</h3>
       <h3 routerLink="apps">Apps</h3>
       <h3 routerLink="vehiclesummary">VehicleSummary</h3>
       <h3 routerLink="acconts">Acconts</h3>
       <h3 routerLink="products">Products</h3>
       <h4 routerLink="createvehicle">createVehicle</h4>
       <h4 routerLink="createaccount">createAccount</h4>
       <h4 routerLink="createemployee">create employee</h4>
       <h4 routerLink="employee">EMPLOYEE</h4>
       <h4 roterLink="employeedetails">vehical details</h4>
       <h4 routerLink="aboutcompany">Aboutcompany</h4>
       <h4 routerLink="contactus">contactus</h4>
       <h4 routerLink="parent">parent</h4>
       <h4 routerLink="child">child</h4>
       <h4 routerLink="siblingone">siblingone</h4>
       <h4 routerLink="siblingtwo">siblingtwo</h4>
       <h4 routerLink="productsummary">productsummary</h4>
       <h4 routerLink="payment">Payment</h4>
       <!-- <h4 routerLink="productdetail">productdetail</h4> -->
       <hr>
       <button (click)="logout()" class="btn- btn-info">logout</button>
    </div>
   </div>
   <div class="right">
       <div class="aa">
           <h3 style="color: aqua;">personal progress</h3>
           <button style="background-color: rgb(52, 224, 81);border-radius:10%;">contact support</button>
        </div>
        <div class="bb">
         <router-outlet></router-outlet>
        </div>
   </div>
    
</div>